@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
body {
  padding: 1.2rem 3.6rem;
}
